{% extends 'layout.html' %}

{% block content %}
<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(static/images/woodenstool.png);">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<div class="display-t">
					<div class="display-tc animate-box" data-animate-effect="fadeIn">
						<h1>About Us</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
	
<div id="fh5co-about">
	<div class="container">
		<div class="about-content">
			<div class="row animate-box">
				<div class="col-md-6">
					<div class="desc">
						<h3>Our History</h3>
						<p>Best Banking was established in 2019 with the aim to promote secured and convenient banking to every customer. As the country's economy grows, a small group of people felt that they had to take up the unique responsibility of financing fledgling industries and coming up with new ones.</p> 
						<p>True to our mission as a development bank, we focused on helping others grow even while we were a young bank and new player in the banking scene.</p>
					<div class="desc">
						<h3>Our Mission &amp; Vision</h3>
						<p>We seek to "Make Banking Safe and Easy" - by leveraging various digital technologies and embedding ourselves seamlessly into our customers' lives to deliver simple while high-quality banking solutions and experiences. We are here for the long term, with a view to enrich lives, transform businesses and drive sustainable outcomes.</p> 
						<p>We hold ourselves to the highest ethical standards and assume that everything we do is in full public view. Fair dealing is the foundation of our business. That way, the trust in us that was built by our predecessors and us will never be eroded.</p>
					</div>
				</div>
				<div class="col-md-6">
					<img class="img-responsive" id="about-pic" src="static/images/img_bg_1.jpg" alt="about" width="1100px" height="700px">
				</div>
			</div>
		</div>
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
				<span>Board of Directors</span>
				<h2>Meet Our Leaders</h2>
				<p>Dedicated to Quality Banking</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
				<div class="fh5co-staff">
					<img src="static/images/michael.jpg" alt="Free HTML5 Templates by gettemplates.co">
					<h3>Michael Jonathan</h3>
					<strong class="role">Chairperson</strong>
					<p>Mr. Jonathan joined the Board of Directors of Best Banking on 28 March 2019 and assumed the role of Chairman on 9 July 2019. He is Chairman of the Executive Committee, as well as a member of the Audit Committee.</p>
					<ul class="fh5co-social-icons">
						<li><a href="#"><i class="icon-facebook"></i></a></li>
						<li><a href="#"><i class="icon-twitter"></i></a></li>
						<li><a href="#"><i class="icon-dribbble"></i></a></li>
						<li><a href="#"><i class="icon-github"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
				<div class="fh5co-staff">
					<img src="static/images/stacylim.jpg" alt="Free HTML5 Templates by gettemplates.co">
					<h3>Stacy Lim</h3>
					<strong class="role">Vice Chairperson</strong>
					<p>Ms. Stacy Lim was appointed to the Board of Directors of Best Banking on 18 April 2020. She is a member of the Management Committee and the Development Committee. She has over 10 years of experience in Strategy, Marketing and Leadership.</p>
					<ul class="fh5co-social-icons">
						<li><a href="#"><i class="icon-facebook"></i></a></li>
						<li><a href="#"><i class="icon-twitter"></i></a></li>
						<li><a href="#"><i class="icon-dribbble"></i></a></li>
						<li><a href="#"><i class="icon-github"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
				<div class="fh5co-staff">
					<img src="static/images/david.jpg" alt="Free HTML5 Templates by gettemplates.co">
					<h3>David Chua</h3>
					<strong class="role">Deputy Director</strong>
					<p>Mr. David Chua was appointed to the Board of Directors of Best Banking on 18 April 2020. He is the Director of the Development Committee, as well as a member of Risk Management Committee and the Administrative Committee.</p>
					<ul class="fh5co-social-icons">
						<li><a href="#"><i class="icon-facebook"></i></a></li>
						<li><a href="#"><i class="icon-twitter"></i></a></li>
						<li><a href="#"><i class="icon-dribbble"></i></a></li>
						<li><a href="#"><i class="icon-github"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}